@import './color';
@font-face {
    font-family: sb;
    src: url(./../fonts/static/SpaceGrotesk-Medium.ttf);
}
 
body {
    min-height: 100vh;
    font-family: sb;
}

#root {
    min-height: 100vh;
}

.App {
    // background-color: yellow;
    min-height: 100vh;
}

@media screen and (min-width: 700px) {
    .App {
        .wrapper {
            min-height: 100vh;
            // background-color: yellow;
            .wrappee {
                min-height: 100vh;
            }
        }
    }
}