@import './../../paint/color';

.my-form {
    label {
        width: 100%;
        font-size: 20px;
        input {
            display: block;
            width: 100%;
            border: solid 2px $Light-grayish-violet;
            outline: none;
            border-radius: 10px;
            padding: 5px;
            font-size: 25px;
            &.danger {
                border-color: $Red;
            }
            &::placeholder {
                color: $Light-grayish-violet;
            }
            &:focus {
                border-color: $Blue-dim;
            }
        }
    }
    .expiration-cvv {
        gap: 10px;
    }
    .submit {
        width: 100%;
        background-color: $Very-dark-violet;
    }
}
.alert {
    visibility: hidden;
    &.show {
        visibility: visible;
        &.danger {
            color: $Red;
        }
        &.success {
            color: $Blue;
        }
    }
}


@media screen and (min-width: 700px) {
    .my-form {
        max-width: 300px;
        // background-color: yellow;
        label {
            width: 100%;
            font-size: 15px;
            input {
                padding: 3px 10px;
                font-size: 18px;
            }
        }
        // .expiration-cvv {
        //     gap: 10px;
        // }
        // .submit {
        //     width: 100%;
        //     background-color: $Very-dark-violet;
        // }
    }
}